div {
  border: 1rem solid transparent;
  border-image: url("/assets/woodframe.jpg") 261 stretch; // source TODO https://commons.wikimedia.org/wiki/Wood#/media/File:Douglasie_Holz.JPG
  background-image: url("/assets/Kraft_tileable_1024x1024.png"); // source TODO https://commons.wikimedia.org/wiki/File:Kraft_tileable_1024x1024.png
  margin: 1rem;
  display: block;
  img {
    display: block;
    width: 100%;
  }
}
