<mat-dialog-content [ngClass]="isOpen ?  'open' : 'closed'">
  <h2>{{ value.title }}</h2>
  <span class="desc">{{ value.desc }}</span> <img (click)="imgClick()" [src]="value.src" />
  <ul>
    <li *ngFor="let tag of value.tags">{{ tag }}</li>
  </ul>
</mat-dialog-content>
