:host {
  @mixin textzone() {
    padding: 0.5rem;
    border: 1px solid black;
    background-color: white;
  }
  mat-dialog-content.closed {
    * {
      display: none;
    }
    img{
      max-width: 100%;
      max-height: 65vh;
      display: block;
    }
  }
  mat-dialog-content.open {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 2ex;

    grid-template-areas:
      "title title"
      "desc pict"
      "tags tags";
    @media (max-width: 768px) {
      grid-template-areas:
      "title"
      "pict"
      "desc"
      "tags";
    }
    place-items: center;

    h2 {
      @include textzone();
      grid-area: title;
      margin: 0px;
      font-family: photoAlbum_manuscript;
      text-align: center;
      font-size: 1.5rem;
    }
    .desc {
      @include textzone();
      grid-area: desc;
      font-family: photoAlbum_manuscript;
    }
    img {
      grid-area: pict;
      width: 100%;
    }

    ul {
      margin: 0px;
      @include textzone();
      display: inline-block;
      grid-area: tags;
      li {
        display: inline;
        margin: 1ex;
        &::before {
          content: "#";
        }
      }
    }
  }
}
