/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9f/Blender3D_Tutorials-Textures-Bumpmap.jpg)
}

.photoframe{
  .mat-dialog-container{
    background: none;
  }
  border: 1rem solid transparent;
  border-image: url("/assets/woodframe.jpg") 261 stretch; // source TODO https://commons.wikimedia.org/wiki/Wood#/media/File:Douglasie_Holz.JPG
  background-image: url("/assets/Kraft_tileable_1024x1024.png"); // source TODO https://commons.wikimedia.org/wiki/File:Kraft_tileable_1024x1024.png
  max-width: 80vw;
}
// TODO citer: https://commons.wikimedia.org/wiki/File:Blender3D_Tutorials-Textures-Bumpmap.jpg

@media (max-width: 768px) {
  .photoframe{
    max-width: 100vw;
  }
}
